* {
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'redhat';
    src: url(font/RedHatDisplay-ExtraBold.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(font/RedHatDisplay-Regular.ttf);
}

n body {
    background: rgb(222, 233, 233) url(img/pattern-background-desktop.svg)no-repeat;
}

.container {
    width: 400px;
    height: 600px;
    display: grid;
    grid-template-areas:
        'images'
        'text'
        'pay';
}

.container {
    margin: 40px 560px;


}

.hero {
    grid-area: 'images';
    border-radius: 13px 13px 0 0;
    width: 400px;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-family: 'redhat';
    color: hsl(223, 47%, 23%);
}

.you {
    text-align: center;
    margin: 10px 30px;
    padding: 10px 30px;
    font-family: 'regular';
    color: hsl(223, 47%, 23%);
}

.text {
    background-color: white;
    margin-top: -56px;
    height: 400px;
    border-radius: 0 0 13px 13px;
}

.player {
    display: flex;
    margin: 20px 50px;

}

.music {
    width: 50px;
    height: 50px;
}

.name {
    margin-top: -20px;

}

h4 {
    margin: 20px 20px 10px;
    font-family: 'redhat';
    color: hsl(223, 47%, 23%)
}

.price {
    margin: 0 20px;
    color: hsl(223, 47%, 23%)
}

.play {
    margin: 10px 30px;
    font-family: 'regular';
}

li a:hover {
    border-bottom: none;
    cursor: pointer;
}

li {
    list-style: none;
}

li a {
    color: hsl(245, 75%, 52%);
    text-decoration: none;
    border-bottom: 2px solid hsl(245, 75%, 52%);
}

.pay {
    margin: 40px 75px;
}

.pro {
    padding: 7px 60px;
    border-radius: 8px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    font-family: 'regular';
}

.pro:hover {
    cursor: pointer;
    background-color: hsl(224, 52%, 52%);
}

.cancel {
    margin: 10px 80px;
    color: hsl(223, 47%, 23%);
    border: none;
    background-color: white;
    font-family: 'regular';
}

.cancel:hover {
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .container {
        margin: 50px 50px;
    }
}